<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <% if (accessToken) { %>
      <li>
        <a href="/profile"><span class="glyphicon glyphicon-book"></span> Profile</a>
      </li>
      <
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
      <% if (accessToken) { %>
        <a href="/logout"><span class="glyphicon glyphicon-user"></span> Sign Out</a>
      <% } else { %>
        <a href="<%= signinUrl %>"><span class="glyphicon glyphicon-user"></span> Sign In</a>
      <% } %>
      </li>
    </ul>
  </div>
</nav>