<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://www.wadewegner.com"><span class="glyphicon glyphicon-book"></span> Wade Wegner</a>
      </li>
    </ul>
  </div>
</nav>
