<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        An Internet of Beers
      </h1>
      <p>
        Learn your estimated blood alcohol content (BAC) when you check into Untappd.
      </p>
      <a class="btn btn-lg btn-default" href="#" type="button">
        <span class="glyphicon glyphicon-flash">
        </span>
        Getting Started
      </a>
      <a class="btn btn-lg btn-primary" href="https://github.com/wadewegner/internet-of-beers" type="button">
        <span class="glyphicon glyphicon-download">
        </span>
        Source on GitHub
      </a>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
      This app and service is based on the talk
      <a class="alert-link" href="https://www.thatconference.com/sessions/session/10592">
        An Internet of Beers
      </a>
      given at ThatConference on Tuesday, August 9, 2016.
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>
          <span class="glyphicon glyphicon-info-sign">
          </span>
          How it works
        </h3>
        <ul>
          <li>
            TBD
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>
          <span class="glyphicon glyphicon-link">
          </span>
          Learn More
        </h3>
        <ul>
          <li>
            <a href="https://www.wadewegner.com/home">
              www.wadewegner.com
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      Your actual blood alcohol concentration depends on a variety of additional factors, like genetic makeup, personal health, and recent food consumption. These results are rough estimates and for your personaly enjoyment only. Do not rely on these results to drive or work. Never drink and drive.
    </div>
  </hr>
</div>
</body>
</html>
