<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        An Internet of Beers
      </h1>
      <p>
        Privacy
      </p>
    </div>
  </div>
</div>
</body>
</html>
