<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
      </div>
    </div>
  </body>
</html>
