<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="page-header">
      <h1>Profile</h1>      
    </div>


    <form id="profileform" action="profile" method="post" class="form-horizontal">
        <div>
      <p>To send you updates with every Untappd check-in we need your mobile phone number.</p>
    </div>
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Mobile Phone</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="555-555-5555" value="<%=mobilePhone%>">
        </div>
      </div>
    <div>
      <p>To try and predict your blood alcohol level we'll need to know a little bit about you.</p>
    </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight (in lbs)</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" id="weight" name="weight" placeholder="150" value="<%=weight%>">
        </div>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Gender</label>
        <div class="col-xs-2">
          <select class="form-control" id="gender" name="gender">
            <option<% if (isMale) { %> selected<% } %>>Male</option>
            <option<% if (!isMale) { %> selected<% } %>>Female</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>

  </div>

</div>

<% if (updated) { %>
<script type="text/javascript">

$(document).ready(function () {

  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-top-center",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

  toastr["success"]("You have successfully updated your profile.", "Success")
});

</script>
<% } %>

</body>
</html>
